@media only screen and (max-width: 1108px){
    .hide-menu {
        display: flex;
    }
    /*section presentation-vehicules*/
    .presentation-vehicules {
        height: auto;
    }
    .green-background,.vehicule-background{
        height: auto;
        aspect-ratio: 16 / 9;
    }
    .vehicule-background{
        width: 55.9rem;
        position: relative;
    }
    .vehicule-background::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    }
    .container-presentation-vehicules {
        width: auto;
        height: auto;
        z-index: 2;
        aspect-ratio: 16/9;
        top: 0;
        left: 0;
        /*changer le background sur mobile*/
        background: linear-gradient(270deg, rgba(36,0,0,0) 0%, rgba(0,163,67,0.9682072658164829) 48%);
    }
    .text-presentation-vehicules {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin-top: 0.2rem;
        margin-left: 1.2rem;
    }
    .button-presentation-vehicules {
        width: 13rem;
        height: 2rem;
        font-size: 0.8rem;
        line-height: 1.438rem;
        bottom: 0.4rem;
        margin-left: 1.2rem;
    }
    /*section current vehicules*/
    .current-vehicules,.one-vehicule{
        height: fit-content;
    }
    .one-vehicule{
        width: 10rem;
    }
    .current-vehicules{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .vehicules{
        gap:1.5rem;
        /*carrousel for vehicules*/
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        margin:1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 90%;
    }
    .image-one-vehicule{
        width: 8rem;
    }
    .background-image-vehicule {
        width: 10rem;
        height: 7rem;
    }
    .name-vehicule {
        height: 4rem;
    }
    .name-vehicule p{
        font-size: 1rem;
        line-height: 0.95rem;
    }


}