main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*section presentation-vehicules*/

.presentation-vehicules{
    width:100%;
    height: 31.25rem;
    position: relative;
}
.container-presentation-vehicules{
    width: 33.531rem;
    height: 18.688rem;
    position: absolute;
    z-index: 2;
    top: 6.313rem;
    left: 3.063rem;
}
.text-presentation-vehicules{
    font-family: var(--mulish);
    font-style: normal;
    font-weight: var(--normal);
    font-size: 1.125rem;
    line-height: 1.438rem;
    color:var(--white);
    margin-top: 0.938rem;
}
.button-presentation-vehicules{
    width: 19.125rem;
    height: 3.5rem;
    background-color: var(--white);
    text-align: center;
    font-family:var(--mulish);
    font-style: normal;
    font-weight: var(--semi-bold);
    font-size: 1.125rem;
    line-height: 1.438rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}
.button-presentation-vehicules:hover{
    background-color:#d8dbd9;
    color: var(--green-two);
    transition: 0.5s;
}
.green-background{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    height: 100%;
}
.vehicule-background{
    position: absolute;
    height: 100%;
    width: 62.313rem;
    top:0;
    right: 0;
}
/*section current vehicules*/
.current-vehicules{
    width: 69.375rem;
    height: fit-content;
    margin: 6.25rem 10.313rem 6.25rem 10.313rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}
.vehicules{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:6.063rem;
    margin-top: 2.875rem;
}
.one-vehicule{
    width: 19.063rem;
    height: 13.938rem;
    box-shadow: 0px 4px 10px rgba(221, 221, 221, 0.5);
    border-radius: 0.625rem;
    cursor: pointer;
}
.name-vehicule{
    background-color: var(--white);
    height: 5.375rem;
    border-radius: 0 0 0.625rem 0.625rem;
    display: flex;
    align-items: center;
}
.name-vehicule p{
    font-family:var(--poppins);
    font-style: normal;
    font-weight:var(--bold);
    font-size: 1.25rem;
    line-height: 1.875rem;
    color:var(--dark-black);
    margin: 0 0 0 1.188rem;
}
.background-image-vehicule{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-two);
    height: 8.563rem;
    border-radius: 0.625rem 0.625rem 0 0;
}
.image-one-vehicule{
    transition: transform 0.2s;
}
/*animation zoom sur les vehicules lors du survole */
.image-one-vehicule:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
/*section presentation of the transport society*/

.presentation-transport-society{
    display: flex;
    flex-direction: row;
    gap:2.563rem;
    height:fit-content;
    width: 83.813rem;
    margin: 0 3.125rem 6.25rem 3.125rem;
    background-color: var(--white);
}
.driver-image{
    Width:40.625rem;
    Height:37.5rem;
}
.container-presentation-transport-society{
    display: flex;
    flex-direction: column;
    gap:5.125rem;
    width: 40rem;
}
.text-presentation-transport-society{
    font-family:var(--mulish);
    font-style: normal;
    font-weight: var(--normal);
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--dark-black);
    width: 33.438rem;
    margin: 0.813rem 0 0 0;
}
.espacement{
    margin-top: 0.875rem;
}
.numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1.125rem;
}
.one-information{
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    margin-right: 2.6rem;
    margin-bottom: 1.25rem;
}
.number{
    font-family:var(--mulish);
    font-style: normal;
    font-weight: var(--normal);
    font-size: 1.563rem;
    line-height: 1.938rem;
    color:var(--dark-black);
    margin: 0;
}
.information-number{
    color:var(--grey);
    font-family:var(--mulish);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
}
/*section refrigeration specialist*/
.refrigeration-specialist{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 76.688rem;
    height: fit-content;
    margin-bottom: 8.54rem;
}
.text-refrigeration-specialist{
    font-family:var(--mulish);
    font-style: normal;
    font-weight:var(--normal);
    font-size: 0.938rem;
    line-height: 1.188rem;
    color: var(--black);
    margin:0.5rem 0 0 0;
}
.container1-refrigeration-specialist{
    display: flex;
    flex-direction: row;
    margin-top: 4.5rem;
}
.column1-refrigeration-specialist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}
.img-column2-refrigeration-specialist{
    Width:32.721rem;
    Height:19.823rem;
}
.column3-refrigeration-specialist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.container2-refrigeration-specialist{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.178rem;
    width: 40.625rem;
}
.column1-refrigeration-specialist>div,.column3-refrigeration-specialist>div{
    width: 19.313rem;
}
/*section service*/

.service{
    width: 100%;
    /*height: 47.402rem;*/
    height: 43.4rem;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}
.green-background2{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right:0;
    width: 100%;
}
.information-service{
    margin-top: 8.009rem;
    right: 7.5rem;
    gap: 1.875rem;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40.625rem;
    height: fit-content;
}
.one-information-service{
    display: flex;
    flex-direction: column;
    text-align: start;
    height: fit-content;
    width: 19.063rem;
}
.text-information-service{
    font-family:var(--mulish);
    font-style: normal;
    font-weight: var(--normal);
    font-size: 1rem;
    line-height: 1.25rem;
    color:var(--white);
    margin: 0;
}
.mecanicien{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 100%;
}
.position-button-desktop{
    z-index: 2;
    right: 29rem;
    bottom: 1.973rem;
}

/*section contact us*/
.contact-us{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:9.563rem;
}
.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40.75rem;
}
.form-one-input-field{
    display: flex;
    flex-direction: column;
}
/*formulaire de la section contact*/


.input-field {
    outline: 0;
    border-width: 0 0 2px;
    border-color:  #A5A5A5;
    width: 19.063rem;
}
.input-field :focus {
    border-color:  #A5A5A5;;
}
input[type='radio'] {
    /*-webkit-appearance:none;
    width:13px;
    height:13px;
    border:1px solid var(--dark-black);
    border-radius:50%;
    outline:none;*/
    filter: grayscale(1);
    accent-color: var(--dark-black);
    cursor: pointer;
}


/*section map*/
.map-section, .map {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 43.125rem;
    position: relative;
}

.map {
    height: 100%;
}
.agencies{
    display: flex;
    flex-direction: column;
    Width:33.438rem;
    Height:29.25rem;
    position: absolute;
    z-index: 2;
    top:3.125rem;
    left: 3.125rem;
    background-color: var(--white);
}
.title-our-agencies{
    margin: 0;
    font-family:var(--poppins);
    font-style: normal;
    font-weight: var(--bold);
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--dark-black);
    margin: 0 0 0.5rem 0;

}
.our-agencies{
    display: flex;
    flex-direction: column;
    background-color: var(--menu-map);
    padding: 1.563rem 0 1.938rem 1.563rem;

}
.city{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: var(--bold);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    color: var(--dark-black);
}
.contact-our-agencies,.telephone-our-agencies,.address{
    font-family: var(--mulish);
    font-style: normal;
    font-weight: var(--normal);
    font-size: 0.938rem;
    line-height: 1.188rem;
    color: var(--dark-black);
    margin: 0;
}
.text-agency{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 25.5rem;
}
.agency{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    padding: 1.25rem 0 1.25rem 1.563rem;
    gap: 4.313rem;
    cursor: pointer;
}
.agency:hover{
    background-color: var(--menu-map);
    transition: 0.25s;
}
