@media only screen and (max-width: 1108px){
    .informations-footer {
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }
    .copyright-footer {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0rem;
        padding-left: 3.125rem;
    }
}