:root
{
    /*Typography*/
    --bold:700;
    --semi-bold:600;
    --normal:  400;
    /*Colors*/
    --dark-black: #000000;
    --black:#0A0A0A;
    --background-footer:#F7FCF9;
    --white:#FFFFFF;
    --green-button:#00A732;
    --green-one:#00A343;
    --green-two:#039F4E;
    --grey:#7B7D7C;
    --ligth-grey:#d8dbd9;
    /*fonts*/
    --poppins:'Poppins', sans-serif;
    --mulish:'Mulish',sans-serif;
}
/*elements communs aux pages*/
h1,h2,h3,h4,h5,.title-service{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: var(--bold);
}
h1{
    font-size: 3rem;
    line-height: 3.75rem;
    color:var(--white);
    margin: 0;
}
h2{
    font-size: 2.5rem;
    line-height: 3.75rem;
    color:var(--dark-black);
    margin: 0;
}
h3{
    font-size: 1.25rem;
    line-height: 1.875rem;
    color:var(--green-two);
    margin: 0;
}
h4{
    font-size: 1.125rem;
    line-height:1.688rem;
    color: var(--dark-black);
    margin: 0;
}
.title-service{
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin: 0;
    color: var(--white);
    z-index: 2;
    width: 100%;
}
h5{
    font-size: 1.25rem;
    line-height: 1.875rem;
    color:var(--white);
    margin: 0;
}
body,html
{
    margin: 0;
    padding: 0;
    overflow: unset;
}
body{
    position: relative;
    background-color: var(--white);
}
* {
    word-wrap: anywhere;
    max-width: 100%
}

a{
    text-decoration:none;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.container
{
    width:83.813rem;
    margin: auto;
}

/*cacher et afficher des elements*/
.showMobile{
    display: none;
}

.hide-element{
    display: flex;
}


