@media only screen and (max-width: 1108px){
    /*afficher et cacher des elements */
    .showMobile{
        display: flex;
    }
    .showDesktop{
        display:none;
    }
    .no-scroll{
        overflow: hidden;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        color: var(--white);
        margin:1.2rem 0 0 1.2rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-left: 1rem;
    }


}