:root
{
    /*Typography*/
    --bold:       700;
    --semi-bold:600;
    --normal:  400;
    
    --giant:      2rem;
    --biggest:    1.75rem;
    --bigger:     1.625rem;
    --big:        1.5rem;
    --regular:    1.125rem;
    --small:      1rem;
    --extra-small: 0.875rem;
    /*Colors*/
    --dark-black: #000000;
    --black:#0A0A0A;
    --background-body:#F2F2F2;
    --background-footer:#F7FCF9;
    --white:#FFFFFF;
    --green-button:#00A732;
    --green-one:#00A343;
    --green-two:#039F4E;
    --grey:#7B7D7C;
    --ligth-grey:#d8dbd9;
    /*fonts*/
    --poppins:'Poppins', sans-serif;
    --mulish:'Mulish',sans-serif;
}
/*elements communs aux pages*/
h1{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: var(--bold);
    font-size: 3rem;
    line-height: 3.75rem;
    color:var(--white);
    margin: 0;
}
h2{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: var(--bold);
    font-size: 2.5rem;
    line-height: 3.75rem;
    color:var(--dark-black);
    margin: 0;
}
body,html
{
    margin: 0;
    padding: 0;
    overflow: unset;
}
body{
    position: relative;
    background-color: var(--background-body);
}
* {
    word-wrap: anywhere;
    max-width: 100%
}

a{
    text-decoration:none;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.container
{
    width:83.813rem;
    margin: auto;
}

/*cacher et afficher des elements*/
.showMobile{
    display: none;
}

.hide-element{
    display: flex;
}


